body {
  background: #141414;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.img-list {
  height: 400px;
}

.Brand {
  color: aliceblue;
}

.movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
}

.add-button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: forestgreen;
  border: none;
  color: white;
}

.restart-button {
  background-color: forestgreen;
  border: none;
  color: white;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.list-group-flush {
  text-align: center;
}

.card-link {
  text-decoration: none;
  display: block;
  margin: 10px auto;
  width: fit-content;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: forestgreen;
}

.home > h1 {
  text-align: center;
  margin: 20px auto;
}

.login > h1 {
  text-align: center;
  margin: 20px auto;
}

.register > h1 {
  text-align: center;
  margin: 20px auto;
}

.detail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
